<div class="row">
	<div class="col-sm-12">
		<%= link_to 'Other Graphs', homes_path, class: 'btn btn-danger btn-lg pull-right' %>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6 col-md-6">
	<%= select_tag :chart_id, options_for_select([["Sporter by age",1],["Sporter by country",2],["Results by country",3],["Competition by year",4]]), prompt: 'Select Chart By category', class: 'form-control', id: 'get_chart' %>	
	</div>
</div>
<div class="row">
	<div id='set_chart'>
		
	</div>
</div>

